.data-table {
  width: 60%;
  min-width: 50rem;
  margin: auto;
  height: calc(100% - var(--filter-height));
}

.mat-table {
  max-height: calc(100% - var(--paginator-height));
  overflow: auto;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-column-name.mat-cell{
  flex-direction: column;
  align-items: flex-start;
}

.mat-standard-chip {
  min-height: 20px;
}

.mat-header-cell {
  background-color: #953ea2;
  color: white;
  font-size: .9rem;
  font-weight: lighter;
}

::ng-deep.mat-sort-header-arrow {
  color: white;
}

