<app-filter-container></app-filter-container>
<div class="data-table">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">

    <ng-container matColumnDef="name" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let show">
        {{show.name}}
        <mat-chip-list aria-label="Genre selection">
          <mat-chip
            *ngFor="let genre of show.genres"
            (click)="changeSelectedGenre(genre)"
            [style.background]="GENRE_COLORS[genre]"
          >{{genre}}</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="seasons">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Seasons</mat-header-cell>
      <mat-cell *matCellDef="let show"> {{show.seasons}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="network">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Network</mat-header-cell>
      <mat-cell *matCellDef="let show"> {{show.network}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="premiereDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Premiere</mat-header-cell>
      <mat-cell *matCellDef="let show"> {{show.premiereDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <app-paginator-container></app-paginator-container>
</div>
