.flexcontainer {
  width: 60%;
  min-width: 50rem;
  height: var(--filter-height);
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.right {
  margin-left: auto;
}

.center {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #F7C12C;
  color: white;
  margin-top: 10px;
}
