<!--<h1>TV App</h1>-->

<!--<table class="resp-tab">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Season</th>-->
<!--      <th>Network</th>-->
<!--      <th>Premiere</th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--  <tr *ngFor="let show of shows">-->
<!--    <td><span>Name</span>{{show.name}}</td>-->
<!--    <td><span>Season</span>{{show.seasons}}</td>-->
<!--    <td><span>Network</span>{{show.network}}</td>-->
<!--    <td><span>Premiere</span>{{show.premiereDate}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<app-input></app-input>

<mat-form-field>
  <mat-label>Select genre</mat-label>
  <mat-select disableRipple>
    <mat-option value="1">Option 1</mat-option>
    <mat-option value="2">Option 2</mat-option>
    <mat-option value="3">Option 3</mat-option>
  </mat-select>
</mat-form-field>

<app-data-table></app-data-table>
