<div class="container">
  <div class="left"></div>

  <div class="center flexcontainer">
    <div [class.disabled]="currentPage === 1"
         class="change-page-icon flex-page-number"
         (click)="previousPage()"
    >
      <
    </div>

    <div [class.inactive]="page !== currentPage"
         *ngFor="let page of totalPagesCount | pagination"
         class="flex-page-number"
         (click)="selectPage(page)"
    >
      {{page}}
    </div>

    <div [class.disabled] = "currentPage === totalPagesCount"
         class="change-page-icon flex-page-number"
         (click)="nextPage()">
      >
    </div>
  </div>


  <div class="right flexcontainer">
    <div *ngFor="let pageNumber of PAGE_SIZE_OPTIONS"
         [class.inactive]="pageNumber !== itemsPerPage"
         [class.disabled-page-counter] = "pageNumber === itemsPerPage"
          class="flex-change-number"
          (click)="changePageSize(pageNumber)"
    >{{pageNumber}}</div>
  </div>
</div>
